<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 允许程序打开网络套接字 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Qian"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:theme,android:roundIcon"
        tools:targetApi="31">
        <activity
            android:name=".wrapper.did.DoHomeworkActivity"
            android:exported="false" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="787057d8a10578894fc4719a3bd274dc"/>

<!--        <activity-->
<!--            android:name=".login.LoginActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->

<!--                <action android:name="android.intent.action.MAIN" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity android:name=".main.MainActivity" />
        <activity android:name=".scan.ScanActivity" />
        <activity android:name=".account.manager.AccountManagerActivity"
            android:exported="true">
             <intent-filter>
             <category android:name="android.intent.category.LAUNCHER" />
             <action android:name="android.intent.action.MAIN" />
             </intent-filter>
        </activity>
        <activity
            android:name=".wrapper.WrapperActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".profile.ProfileFragment" />
        <activity android:name=".mapsetting.InputTipsActivity" />
        <activity android:name=".mapsetting.MapActivity" />
        <activity android:name=".photo.PhotoSignActivity" />

        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>