<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 允许程序打开网络套接字 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Qian"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:theme,android:roundIcon"
        tools:targetApi="31">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="797648bd1ff4e06dd433af6e4f3b87fc" />

        <service android:name="cn.leancloud.push.PushService" />
        <receiver
            android:name="cn.leancloud.push.LCBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".wrapper.did.DoHomeworkActivity" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->

            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".scan.ScanActivity" />
        <activity android:name=".account.manager.AccountManagerActivity" />
        <activity android:name=".wrapper.WrapperActivity" />
        <activity android:name=".profile.ProfileFragment" />
        <activity android:name=".mapsetting.InputTipsActivity" />
        <activity android:name=".mapsetting.MapActivity" />
        <activity android:name=".photo.PhotoSignActivity" />
        <activity android:name=".record.SignRecordActivity" />
        <activity android:name=".login.sms.SMSActivity" />
        <activity android:name=".friend.chat.ChatActivity" />

        <service android:name="com.amap.api.location.APSService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cofbro.qian.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>
